{% extends 'base.html' %}

{% block contentA %}
<div class="contentA">
        <div class="top-1">
        <h1>BIENVENUE</h1>
        <p class="aprop">
            <strong>    <p>BIENVENUE A UNA_COCHE VOTRE PLATFORME dE RESERVATION <br> LA PLUS EN VOGUE  DU
                MOMENT SECURITER ET CONFORT <br> FONT PARTIE INTEGRANTE DE NOTRE STRUCTURE</p></strong>
        </p>
        <p class="sta">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </p>
        </div>
</div>
{% endblock contentA%}

