{% extends 'base.html' %}

{% block contentA %}
<div class="top">
    <div class="top-1">
    <h1>À propos de nous</h1>
    <p class="aprop">
        <strong>"Nous somme toujours disponible pour nos client avec le soucis de toujours donner un service de qualiter"</strong>
    </p>
    <p class="sta">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </p>
    </div>
</div>

{% endblock contentA %}